In [17]:
import pandas as pd
df_csv = pd.read_csv(r"C:\Users\FRED\Desktop\FreeCodeCamp- Data Analyst BootCamp for Beginners\Pandas Reading Files\ice_cream_data.csv")
df_csv

,Flavor,Base Flavor,Liked,Flavor rating,Texture rating,Total rating
0,Mint Chocolate Chip,Chocolate,Yes,9,8,17
1,Strawberry Cheesecake,Vanilla,Yes,8,9,17
2,Rocky Road,Chocolate,Yes,7,8,15
3,Vanilla Bean,Vanilla,No,6,5,11
4,Mango Sorbet,Vanilla,Yes,9,9,18
5,Cookies and Cream,Vanilla,Yes,8,9,17
6,Pistachio,Coffee,No,5,6,11
7,Salted Caramel,Caramel,Yes,9,9,18
8,Coffee Mocha,Coffee,No,6,6,12
9,Lemon Zest,Lemon,Yes,8,7,15

In [18]:
df_base_flavor = df_csv.groupby('Base Flavor')

In [31]:
#this will geve error
# df_base_flavor.mean()

In [15]:
#checking for data types in each column
print(df_csv.dtypes)

Flavor            object
Base Flavor       object
Liked             object
Flavor rating      int64
Texture rating     int64
Total rating       int64
dtype: object

In [16]:
#checking for pandas version
print(pd.__version__)

2.2.2

In [28]:
#Solution_1 is to use parameters, enabling only numeric columns
df_csv.groupby('Base Flavor').mean(numeric_only=True)

             Flavor rating  Texture rating  Total rating
Base Flavor
Caramel               9.00             9.0         18.00
Chocolate             8.00             8.0         16.00
Coffee                5.50             6.0         11.50
Lemon                 8.00             7.0         15.00
Vanilla               7.75             8.0         15.75

In [27]:
#Solution_1_1 is to use parameters, enabling only numeric columns
df_base_flavor .mean(numeric_only=True)

             Flavor rating  Texture rating  Total rating
Base Flavor
Caramel               9.00             9.0         18.00
Chocolate             8.00             8.0         16.00
Coffee                5.50             6.0         11.50
Lemon                 8.00             7.0         15.00
Vanilla               7.75             8.0         15.75

In [24]:
#Solution_2 is to manually choose the numeric columns
df_csv.groupby('Base Flavor')[['Flavor rating', 'Texture rating', 'Total rating']].mean()

             Flavor rating  Texture rating  Total rating
Base Flavor
Caramel               9.00             9.0         18.00
Chocolate             8.00             8.0         16.00
Coffee                5.50             6.0         11.50
Lemon                 8.00             7.0         15.00
Vanilla               7.75             8.0         15.75

In [29]:
df_base_flavor.count()

             Flavor  Liked  Flavor rating  Texture rating  Total rating
Base Flavor
Caramel           1      1              1               1             1
Chocolate         2      2              2               2             2
Coffee            2      2              2               2             2
Lemon             1      1              1               1             1
Vanilla           4      4              4               4             4

In [32]:
df_base_flavor.sum(numeric_only = True)

             Flavor rating  Texture rating  Total rating
Base Flavor
Caramel                  9               9            18
Chocolate               16              16            32
Coffee                  11              12            23
Lemon                    8               7            15
Vanilla                 31              32            63

In [38]:
df_base_flavor.agg({'Flavor rating' : ['mean', 'max', 'count', 'sum'], 'Texture rating' : ['mean', 'max', 'count', 'sum']})

            Flavor rating               Texture rating
                     mean max count sum           mean max count sum
Base Flavor
Caramel              9.00   9     1   9            9.0   9     1   9
Chocolate            8.00   9     2  16            8.0   8     2  16
Coffee               5.50   6     2  11            6.0   6     2  12
Lemon                8.00   8     1   8            7.0   7     1   7
Vanilla              7.75   9     4  31            8.0   9     4  32

In [43]:
#Multiple groupby
df_csv.groupby(['Base Flavor', 'Liked', 'Flavor rating']).mean(numeric_only=True)

                                 Texture rating  Total rating
Base Flavor Liked Flavor rating
Caramel     Yes   9                         9.0          18.0
Chocolate   Yes   7                         8.0          15.0
                  9                         8.0          17.0
Coffee      No    5                         6.0          11.0
                  6                         6.0          12.0
Lemon       Yes   8                         7.0          15.0
Vanilla     No    6                         5.0          11.0
            Yes   8                         9.0          17.0
                  9                         9.0          18.0

In [46]:
#Multiple groupby and multiple aggregration
df_csv.groupby(['Base Flavor', 'Liked', 'Flavor rating']).agg({'Flavor rating' : ['mean', 'max', 'count', 'sum'], 'Texture rating' : ['mean', 'max', 'count', 'sum']})

                                Flavor rating               Texture rating  \
                                         mean max count sum           mean
Base Flavor Liked Flavor rating
Caramel     Yes   9                       9.0   9     1   9            9.0
Chocolate   Yes   7                       7.0   7     1   7            8.0
                  9                       9.0   9     1   9            8.0
Coffee      No    5                       5.0   5     1   5            6.0
                  6                       6.0   6     1   6            6.0
Lemon       Yes   8                       8.0   8     1   8            7.0
Vanilla     No    6                       6.0   6     1   6            5.0
            Yes   8                       8.0   8     2  16            9.0
                  9                       9.0   9     1   9            9.0


                                max count sum
Base Flavor Liked Flavor rating
Caramel     Yes   9               9     1   9
Chocolate   Yes   7               8     1   8
                  9               8     1   8
Coffee      No    5               6     1   6
                  6               6     1   6
Lemon       Yes   8               7     1   7
Vanilla     No    6               5     1   5
            Yes   8               9     2  18
                  9               9     1   9

In [47]:
df_csv.groupby(['Base Flavor', 'Liked', 'Flavor rating']).describe()

                                Texture rating                                \
                                         count mean  std  min  25%  50%  75%
Base Flavor Liked Flavor rating
Caramel     Yes   9                        1.0  9.0  NaN  9.0  9.0  9.0  9.0
Chocolate   Yes   7                        1.0  8.0  NaN  8.0  8.0  8.0  8.0
                  9                        1.0  8.0  NaN  8.0  8.0  8.0  8.0
Coffee      No    5                        1.0  6.0  NaN  6.0  6.0  6.0  6.0
                  6                        1.0  6.0  NaN  6.0  6.0  6.0  6.0
Lemon       Yes   8                        1.0  7.0  NaN  7.0  7.0  7.0  7.0
Vanilla     No    6                        1.0  5.0  NaN  5.0  5.0  5.0  5.0
            Yes   8                        2.0  9.0  0.0  9.0  9.0  9.0  9.0
                  9                        1.0  9.0  NaN  9.0  9.0  9.0  9.0

                                     Total rating                         \
                                 max        count  mean  std   min   25%
Base Flavor Liked Flavor rating
Caramel     Yes   9              9.0          1.0  18.0  NaN  18.0  18.0
Chocolate   Yes   7              8.0          1.0  15.0  NaN  15.0  15.0
                  9              8.0          1.0  17.0  NaN  17.0  17.0
Coffee      No    5              6.0          1.0  11.0  NaN  11.0  11.0
                  6              6.0          1.0  12.0  NaN  12.0  12.0
Lemon       Yes   8              7.0          1.0  15.0  NaN  15.0  15.0
Vanilla     No    6              5.0          1.0  11.0  NaN  11.0  11.0
            Yes   8              9.0          2.0  17.0  0.0  17.0  17.0
                  9              9.0          1.0  18.0  NaN  18.0  18.0


                                  50%   75%   max
Base Flavor Liked Flavor rating
Caramel     Yes   9              18.0  18.0  18.0
Chocolate   Yes   7              15.0  15.0  15.0
                  9              17.0  17.0  17.0
Coffee      No    5              11.0  11.0  11.0
                  6              12.0  12.0  12.0
Lemon       Yes   8              15.0  15.0  15.0
Vanilla     No    6              11.0  11.0  11.0
            Yes   8              17.0  17.0  17.0
                  9              18.0  18.0  18.0