In [17]:
# extract information with age greater than 25 from the following list of dictionaries
data = [{"name": "Alice", "age": 28}, {"name": "Bob", "age": 24}, {"name": "Charlie", "age": 30}]

for age in data:
    if age["age"] > 25:
        print(age["age"])

#list comprehension
# age_above_25 = [age["age"]  for age in data if age["age"]>25 ]
# print(age_above_25)

28
30

In [18]:
# use list comprehension to flatten the matrix
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [19]:
flattened_matrix = [num for rows in matrix for num in rows]
print(flattened_matrix)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [20]:
# use enumerate() for looping to add 5 extra point to each grade in the list, the 5th one add 10 
grades = [88, 92, 78, 65, 50, 94]
grades = [23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 88, 92, 78, 65, 50, 94,]
prime_grades = [num for num in grades  if num != 1 and num % 2 != 0 and num % 3 !=0 and num% 5 != 0]
print(prime_grades)

[23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [21]:
#if-else must put before for loop, if statement only can put afte the for loop
extra_grades = extra_grades = [num +5 if i < len(grades) - 1 else num + 10 for i, num in enumerate(grades) ]
print(extra_grades)

[28, 34, 36, 42, 46, 48, 52, 58, 64, 66, 72, 76, 78, 84, 88, 94, 102, 93, 97, 83, 70, 55, 104]

In [22]:
# print the grades if they are prime value a number that can only be divided by 1 and itself
grades = [88, 92, 78, 65, 50, 94]
prime_grades = [num for num in grades if num %1 and num%num]

In [23]:
# filter out elements depend on their index: 
# use list comprehension and enumerate() to get elements with even index
data = [100, 200, 300, 400, 500]

In [24]:
even_index = [num for i, num in enumerate(data) if i % 2== 0]
print(even_index)

[100, 300, 500]

In [25]:
# create a dictionary from lists using zip()
keys = ['name', 'age', 'grade']
values = ['Alice', 25, 'A']

In [26]:
zipped = zip(keys, values)
print(type(zipped))   #class zip
print(zipped)  # prints an object zip
print(list(zipped))   # prints a list of tuple

<class 'zip'>
<zip object at 0x00000186270355C0>
[('name', 'Alice'), ('age', 25), ('grade', 'A')]

In [27]:
# sort the dictionary based on the ages using lambda
students = [
    {'name': "John", 'grade': "A", 'age': 20}, 
    {'name': "Jane", 'grade': "B", 'age': 21}, 
    {'name': "Joss", 'grade': "A+", 'age': 19}, 
    {'name': "Jack", 'grade': "A-", 'age': 16}, 
    {'name': "Dave", 'grade': "C", 'age': 25}, 
]

In [28]:

#sort list of dictionaries by employess age , ascending
#lambda syntax    "lambda arguments: expression"
#arguments can be one or more separated by commas

sorted_pairs = sorted(students, key=lambda student: student["age"])
print(sorted_pairs)

[{'name': 'Jack', 'grade': 'A-', 'age': 16}, {'name': 'Joss', 'grade': 'A+', 'age': 19}, {'name': 'John', 'grade': 'A', 'age': 20}, {'name': 'Jane', 'grade': 'B', 'age': 21}, {'name': 'Dave', 'grade': 'C', 'age': 25}]

In [29]:
# Sort by age, then by salary if ages are the same
# use lambda
employees = [
    {'name': 'Alice', 'age': 30, 'salary': 80000},
    {'name': 'Bob', 'age': 25, 'salary': 50000},
    {'name': 'Charlie', 'age': 35, 'salary': 120000},
]

In [ ]:
#lambda syntax    "lambda arguments: expression"
# The key with 2 expressions return a tuple of age and salary for each dictionary
# the first expression "employee['age']", sorts the dictionaries according to age (ascending)
# the second expression will check for the same value in the age and arrange those with the same value by salary 

sorted_employees = sorted(employees, key=lambda employee: (employee['age'], employee['salary']))

print(sorted_employees)



#expressions cannot contain statements like if, for, or while.
#Full if statements, which involve more than one action or block of code, are not allowed in a lambda function.
# In a lambda, you can have expressions, and the conditional expression (value_if_true if condition else value_if_false)
# is just a form of expression, which is why it's allowed in a lambda function.

In [45]:
# Generators are highly useful in data-heavy applications:

# Reading Large Files: Use generators to read large files line by line without loading the entire file into memory.
# Data Streaming: Stream data entries for real-time data processing.
# Large Calculations: Break down massive calculations into smaller, more manageable chunks.

In [ ]:
#display(df.loc[2:3])
# display(df.iloc[[1]])

In [ ]:
import pandas as pd
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}
 
# load data into a DataFrame object:
df = pd.DataFrame(data)

#iloc syntax:    " dataframe.iloc[row_index, column_index]"
print(type(df))  #type: dataframe
print(type(df.iloc[1])) #type: series

#Output is a single row with no DataFrame structure.
#the outside [] ensures that the output is a DataFrame, even if it contains only one row.
print(df.iloc[[1]]) #Selects the row at index 1 as a Series.

#for label-based indexing
#loc syntax:     "dataframe.loc[row_labels, column_labels]"
print(df.loc[1,"calories"])  #prints 380. access index 1 of "calories" column

NameError: name 'pd' is not defined